* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timestampspage-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.timestampspage-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-family: "Poppins", sans-serif;
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.video-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.video-card {
  background-color: #fdfbfb;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 50px;
  box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.video-description {
  font-size: 20px;
  margin-bottom: 15px;
}

.know-more-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.know-more-button:hover {
  background-color: #0056b3;
}

.timestampspage-loading,
.timestampspage-error {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-top: 20px;
}

.teacher-video-back-button {
  background-color: #0a0a0a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  position: fixed;
  top: 50px;
  left: 0;
}

.teacher-video-back-button .svg-inline--fa {
  margin-right: 5px;
}
