@media (max-width: 768px) {
  .teacher-home-container {
    padding: 10px;
  }
  .add-youtube-section,
  .video-section,
  .add-question-section,
  .questions-section {
    margin: 10px 0;
    padding: 10px;
  }
  .add-youtube-section input,
  .add-question-section input {
    padding: 8px;
  }
  .add-youtube-section button,
  .add-question-section button,
  .upload-button {
    padding: 8px 16px;
  }
}

.teacherprofile-button {
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.teacheruploaded-videos-button {
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: right;
}

.profile-button,
.uploaded-videos-button {
  background-color: #f2f2f2;
  color: #333;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.teacher-home-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #333;
}

.add-youtube-section {
  margin-top: 20px;
}

.add-youtube-section input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-youtube-section button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.add-youtube-section button:hover {
  background-color: #555;
}

.video-section {
  margin-top: 20px;
}

.video-section p {
  color: #777;
}

.add-question-section {
  margin-top: 20px;
}

.add-question-section button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.add-question-section button:hover {
  background-color: #555;
}

.questions-section {
  margin-top: 20px;
}

.questions-section ul {
  list-style: none;
  padding: 0;
}

.questions-section li {
  margin-bottom: 10px;
  color: #333;
}

.upload-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.upload-button:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .teacher-home-container {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
}

.teacher-logout-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-align: center;
  position: fixed;
  top: 30px;
  right: 0;
  margin: 20px;
}
