/* teacherprofile.css */

.teacher-profile-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #f8f8f8;
}

.teacher-profile-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.teacher-profile-container p {
  font-size: 18px;
  margin: 10px 0;
  color: #555;
}

.teacher-profile-container .password-hidden {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.teacher-profile-container .toggle-password {
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  font-size: 18px;
  color: #007bff;
  transition: color 0.3s ease;
}

.teacher-profile-container .toggle-password:hover {
  color: #0056b3;
}

.teacher-back-button {
  background-color: #0a0a0a;
  /* Button background color */
  color: #fff;
  /* Button text color */
  border: none;
  /* Remove button border */
  padding: 10px 20px;
  /* Add some padding */
  font-size: 16px;
  /* Button font size */
  cursor: pointer;
  /* Show pointer cursor on hover */
  transition: background-color 0.3s ease;
  /* Smooth background color transition */
  display: flex;
  /* Enable flex layout for icon and text alignment */
  align-items: center;
  /* Center items vertically */
  position: fixed;
  /* Fixed positioning */
  top: 50px;
  /* Position at the top */
  left: 0;
  /* Position at the left */
}

/* Style the FontAwesome icon inside the button */

.teacher-back-button .svg-inline--fa {
  margin-right: 5px;
  /* Add some space between the icon and text */
}
