.student-profile-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #f8f8f8;
}

.student-profile-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.student-profile-container p {
  font-size: 18px;
  margin: 10px 0;
  color: #555;
}

.student-profile-container .password-hidden {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.student-profile-container .toggle-password {
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  font-size: 18px;
  color: #007bff;
  transition: color 0.3s ease;
}

.student-profile-container .toggle-password:hover {
  color: #0056b3;
}

.student-back-button {
  background-color: #0a0a0a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  position: fixed;
  top: 50px;
  left: 0;
}

.student-back-button .svg-inline--fa {
  margin-right: 5px;
}
