.chatbox-container {
  background-color: #7f7fd5;
  background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.chatbox-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.chatboxteacherlist {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.chatbox-teacher-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease-in-out;
}

.chatbox-teacher-info {
  flex: 1;
  color: white;
}

.chatbox-teacher-name {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.chatbox-teacher-email {
  font-size: 16px;
  color: white;
}

.chatbox-button {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.chatbox-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.my-search-bar {
  margin-bottom: 20px;
  width: 30%;
  height: 40px;
}

.my-search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.my-search-bar input:focus {
  border-color: #555;
}

.my-back-button {
  background-color: #0a0a0a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  position: fixed;
  top: 10;
  left: 0;
}

.my-back-button .svg-inline--fa {
  margin-right: 5px;
}
